body, html {
    margin: 0px;
    padding:0px;
    width: 100%;
    height: 100%;
    background-color: #f7f8fd;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;

    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

*:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}

#main {
    max-width: 725;
    width: 725px;
    display: block;
    margin:100px auto 20px auto;
}

.content {
    width: auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 15px;
    min-height: 200px;
    margin: 10px;
    -webkit-box-shadow: 0px 13px 15px 5px rgba(233,234,242,0.56); 
    box-shadow: 0px 13px 15px 5px rgba(233,234,242,0.56);
}

h1 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

h2 {
    font-size: 14px;
    text-align: center;
    max-width: 70%;
    margin: auto;
    line-height: 26px;
    margin-top: 20px;
    color: #262626;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 25px;
    border: 2px solid #dbdbec;
    color: black;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    transition: all .3s ease;
}

button:hover {
    background-color: #dbdbec;
    color: #5a5a80;
}

@media only screen and (max-width: 560px) {
    .content {
        padding: 20px;
    }    
}

details {
    padding-bottom: 10px;
    padding-top: 10px;
}
summary {
    list-style-type: none;
    display: block;
    padding: 10px;
    cursor: pointer;
    margin: 0px;
}

details p {
    padding: 10px;
    margin: 0px;
}


details:not(:last-of-type)
{
    border-bottom: 2px solid #CCC;
}

summary {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cline x1='12' y1='5' x2='12' y2='19' /%3E%3Cline x1='5' y1='12' x2='19' y2='12' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top 10px  right;
    padding-right: 30px;
    display: block;
    transition: all .3s ease;
}

summary:hover {
    color: #9797cf;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%239797cf' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cline x1='12' y1='5' x2='12' y2='19' /%3E%3Cline x1='5' y1='12' x2='19' y2='12' /%3E%3C/svg%3E");
}
